<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
        <listeners>
            <listener class-name="api.utilities.ExtentReportManager"/>
        </listeners>
    
    <test verbose="2" preserve-order="true" name="/Users/tahirata/Desktop/MYPROJECTS/Rest_API_Recap">
        <classes>

            <class name="api.test.DDTests">
                <methods>
                    <include name="testPostUser"/><include name="testDeleteUserByName"/>
                </methods>
            </class>

            <class name="api.test.UserTests">
                 <methods><include name="testPostUser"/>
                     <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
             </class>

            <class name="api.test.UserTests2">
                <methods><include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>



        </classes>
    </test>
</suite>